<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <script></script>
</head>

<body>
    <header>
        <img class="logo-header"src="/images/logo-mercado-liebre.svg">
        <p class="busqueda">lugar para poner la barra de busquedas</p><i class="fas fa-search"></i>
        <p class="frase"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</i></p>
        <nav class="navegacion">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">vender</a></li>
                <li><a href="#">ayuda</a></li>
            </ul>
        </nav>
        <nav class="navegacion">
            <ul>
                <li><a href="#">Crea tu cuenta<i class="fas fa-address-card"></i></a></li>
                <li><a href="#">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis Compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
            <i class="fas fa-bars"></i>
        </nav>

    </header>
    <main>
        <section>
            <p class="titulo">Basado en tu ultima visita </p><br>
            <article>
                <img class="img-producto"src="/images/img-cafetera-moulinex.jpg" alt="imagen cafetera">
                <p class="precios">$6.770</p><br>
                <p class="descuento">40% OFF</p>
                <h4>cafetera Moulinex</h4>
            </article>
            <article>
                <img class="img-producto" src="/images/img-macbook-pro-2019.jpg" alt="imagen MacBook">
                <p class="precios">$230.000</p><br>
                <p class="descuento">20% OFF</p><br>
                <h4>Macbook Pro 201descuento
            </article>
            <article>
                <img class="img-producto" src="/images/img-samsung-galaxy-s10.jpg" alt="imagen Samsung galaxy">
                <p class="precios">$70.500</p><br>
                <p class="descuento">10% OFF</p>
                <h4>Samsung Galaxy s10</h4>
            </article>
            <article>
                <img class="img-producto" src="/images/img-tv-samsung-smart.jpg" alt="imagen Smart Tv">
                <p class="precios">$23.200</p><br>
                <p class="descuento">40% OFF</p>
                <h4>Smart Tv Samsung 43"</h4>
            </article>
        </section>

        <section>
            <article>
                <p class="titulo">Seccion de Ofertas</p>
                <img class="img-producto" src="/images/img-macbook-pro-2019.jpg" alt="imagen MacBook">
                <p class="precios">$230.000</p><br>
                <p class="descuento">20% OFF</p><br>
                <h4>Macbook Pro 2019</h4>
            </article>
            <article>
                <img class="img-producto" src="/images/img-samsung-galaxy-s10.jpg" alt="imagen Samsung galaxy">
                <p class="precios">$70.500</p><br>
                <p class="descuento">10% OFF</p>
                <h4>Samsung Galaxy s10</h4>
            </article>
            <article>
                <img class="img-producto" src="/images/img-tv-samsung-smart.jpg" alt="imagen Smart Tv">
                <p class="precios">$23.200</p><br>
                <p class="descuento">40% OFF</p>
                <h4>Smart Tv Samsung 43"</h4>
            </article>

        </section>


    </main>
    <footer>
        <i class="fas fa-credit-card"></i>
        <h5>Paga con tarjeta en efectivo</h5><br>
        <p>Con Mercado Liebre Cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago.!Y siempre es
            seguro!</p>
            <i class="fas fa-gift"></i>
        <h5>Envio Gratis desde $ 2.500</h5>
        <P>Solo por estar registrad@ en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de
            Mercado Puntos.</P>
            <i class="fas fa-user-shield"></i>
        <h5>Seguridad, de principio a fin</h5>
        <p>?No te gusta? !Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegid@
        </p>
    </footer>

</body>

</html>